@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk" ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: white;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  height: 100svh;
}

.header {
  background-image: url("../public/japan.webp");
  background-size: cover;
  background-position: center;
  height: 30vh;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
